body{
    background: black;
}

.centermydiv{
    max-height: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{
    color: white;
    display: flex;
    background-color: grey;
    margin-bottom: 5px;
    width: 100%;
    height: 20px;
    justify-content: left;
}

.spacingBottom50PX
{
    margin-bottom: 50px;
}